@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/* Menu */

nav.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #395094;
}
nav.menu ul {
  width: 40%;
  margin: auto;
  padding: 0px;
  text-align: center;
}
nav.menu ul li {
  font-weight: 700;
  color: white;
  padding: 20px 40px 20px 40px;
  display: inline-block;
  text-decoration: none;
}
nav.menu ul li a {
  text-decoration: none;
  color: white;
}

nav.menu ul li a:hover {
  color: black;
  transition: 600ms;
}

nav.menu ul li h1 {
  font-size: 30pt;
  margin: 5px;
}
nav.menu ul li h2 {
  font-size: 20pt;
  margin: 5px;
}

/* Menu */
img#imagem {
  width: 100%;
  height: 90%;
}

div.corpo {
  margin: auto;
  width: 70%;
  min-height: 100%;
  height: 100%;
  max-height: 100vh;
}
h1.subtitulo {
  font-weight: 700;
  font-size: 30pt;
  text-align: center;
}
.subtitulo::after {
  content: "";
  display: block;
  width: 120px;
  height: 5px;
  background-color: #87a0d0;

  margin: 2px auto;
}

div p#txtabout {
  font-size: 18pt;
  line-height: 30px;
  margin-top: 25px;
  float: left;
  text-align: justify;
  width: 50%;
}

.aboutus {
  margin-bottom: 25px;
}

div img#aluno {
  width: 400px;
  margin-left: 15%;
}
.contato {
  width: 100%;
  background-color: #87a0d0;
  padding: 2% 0;
}

.contato .subtitulo {
  color: white;
}

.contato .subtitulo::after {
  background-color: white;
  margin-bottom: 2%;
}

/*Lista de contatos */

.lista-contatos {
  list-style: none;
  text-align: center;
  padding: 0;
}

.lista-contatos li {
  width: 30%;
  display: inline-block;
  color: white;
}

.lista-contatos .contato-nome {
  font-size: 28px;
}

.lista-contatos li p {
  font-weight: 500;
}

/* Footer */

footer {
  margin: 0;
  height: 10vh;
  background-color: #87a0d0;
  text-align: center;
  clear: both;
}

footer::before {
  content: "";
  display: block;
  width: 70%;
  height: 5px;
  margin: 0 auto;
  background-color: white;
}

footer h3 {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

/* MATERIAS */

.materia-subtitulo {
  background-color: #87a0d0;
  margin-top: 5%;
  height: 200px;
  text-align: center;
  padding: 1% 0;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}

.materia-subtitulo h1::after,
.materia-subtitulo h1::before {
  content: "";
  display: block;
  background-color: white;
  width: 50%;
  height: 5px;
  margin: 5px auto;
}

.materia {
  padding: 2% 0;
}

.subtitulo-materia::after {
  content: "";
  display: block;
  background-color: black;
  width: 60px;
  height: 3px;
  margin: 2px 0;
}

.sobre-materia {
  width: 50%;
  text-align: justify;
  float: left;
  font-weight: 500;
  font-size: 20px;
}

.sobre-materia-cheio {
  width: 100%;
}

.sobre-imagem {
  width: 25%;
  margin-left: 10%;
}

.portugues footer::before,
.matematica footer::before {
  background: none;
}

#teste {
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

span.indent {
  margin-left: 30px;
  line-height: 30px;
}

/* Botão */

.btn {
  padding: 15px;
  background-color: #395094;
  color: white;
  font-size: 18pt;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn:active {
  transform: translateY(2px);
}

.inativa {
  display: none;
}
.quiz {
  min-height: 510px;
  margin: auto 500px;
  padding-top: 50px;
}

#result {
  min-height: 548px;
}

.quiz p {
  font-size: 18pt;
  font-weight: 500;
  line-height: 1.5em;
  margin: 20px 100px;
}

.quiz ul {
  margin-left: 50px;
  font-size: 1em;
  margin-right: 100px;
}

.quiz ul li {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}

.quiz ul li:hover {
  background-color: #87a0d0;
  cursor: pointer;
}

#result p {
  text-align: center;
}

.nxtbtn {
  margin-left: 100px;
  padding: 15px;
  background-color: #395094;
  color: white;
  font-size: 18pt;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* Estilos para JS */

.acerto {
  background-color: #07f0af;
}

.quiz ul li.acerto:hover {
  background-color: #07f0af;
}

.erro {
  background-color: #ff0000;
}

.quiz ul li.erro:hover {
  background-color: #ff0000;
}

#perguntaAtualTexto {
  color: white;
  opacity: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
}
